name: PyPI deploy

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  pypi-deploy:
    name: Deploying Python Package
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v5
      with:
        # setuptools_scm requires a non-shallow clone of the repository
        fetch-depth: 0

    - uses: actions/setup-python@v6
      name: Install Python

    - name: Build SDist
      run: pipx run build --sdist

    - uses: pypa/gh-action-pypi-publish@v1.13.0
